@model IEnumerable<Product>
@section Scripts {
    @*<script src="~/client/vendor.36941807857de58b.js"></script>*@
    @*<script src="~/client/polyfills.be126616119fee81.js"></script>*@
    @*<script src="~/client/runtime.dc5b7e733f61e8e6.js"></script>*@
    <script asp-src-include="~/client/vendor.*.js"></script>
    <script asp-src-include="~/client/polyfills.*.js"></script>
    <script asp-src-include="~/client/runtime.*.js"></script>
    <script asp-src-include="~/client/main.*.js" asp-append-version="true"></script>

    @* regex to match the hashes /(main|styles|scripts|vendor|inline).*.bundle.(map|js|css)/g*@
}
@section head {
    <base href="/App/Shop" />
    <link href="~/client/styles.ef46db3751d8e999.css" rel="stylesheet" />
}

<the-shop></the-shop>

@*<h1>Shop</h1>
<p>Count: @Model.Count()</p>
<div class="row">
   @foreach (var p in Model)
   {
     <div class="col-md-3">
       <div class="border bg-light rounded p-1">
         <img src="~/img/@(p.ArtId).jpg" class="img-fluid" alt="@p.Title"/>
         <h3>@p.Category - @p.Size</h3>
         <ul>
             <li>Price: @p.Price</li>
             <li>Artist: @p.Artist</li>
             <li>Title: @p.Title</li>
             <li>Description: @p.ArtDescription</li>
         </ul>
         <button id="buyBtn" class="btn btn-success">Buy</button>
       </div>
     </div>
   }
</div>*@